table,th,td{
    border :1px solid rgb(247, 62, 161)
}
tr:hover{
    background-color: #f7b2d7;
    
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}


  button {
    margin: 0 8px 8px 0;
  } 

  table{
    width: 100%;
  }